$theme-dark: #000000;
$theme-dark-white-text: #d9d9d9;
$theme-dark-gray-text: #6e767d;
$theme-dark-border: #2f3336;
$theme-dark-icon: #6e767d;
$blue: #1da1f2;
$text-col: #ffffff;

* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
